body {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #fff;
    border-radius: 10px;
    padding: 20px;
    background-color: #333;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.game-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

label {
    font-size: 20px;
    margin-right: 10px;
    color: #fff;
}

select {
    font-size: 18px;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: #444;
    color: #fff;
}

button {
    font-size: 18px;
    padding: 5px 0; /* Ajustando o padding para centralizar o texto verticalmente */
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: #444;
    color: #fff;
    cursor: pointer;
    width: 120px; /* Definindo uma largura fixa maior */
    text-align: center;
}

button:hover {
    background-color: #555;
}

canvas {
    border: 2px solid #fff;
    background-color: #fff;
    margin-bottom: 20px;
}

#score-container, #highscore-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.score-label, .highscore-label {
    font-size: 24px;
    margin-right: 10px;
}

.score-value, .highscore-value {
    font-size: 24px;
    font-weight: bold;
}

#author-credits {
    text-align: center;
}

#author-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Adicionado para separar do jogo */
}

.author-box {
    display: flex;
    align-items: center;
    justify-content: center; /* Centralizar horizontalmente */
    margin-bottom: 10px;
    background-color: #f2f2f2; /* Cinza claro */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.author-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.author-name {
    font-size: 16px;
    color: #000; /* Texto em preto para se destacar */
}

.score-value {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px; /* Adicione um espaçamento de 5 pixels */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}

#instruction-balloon {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 400px;
    padding: 20px;
    background-color: #f8f8f8;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    z-index: 9999;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    line-height: 30px;
    opacity: 0;
    animation-name: fadeInButton;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes fadeInButton {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#close-button:hover {
    background-color: #ccc;
}

.fadeOutAnimation {
    animation-name: fadeOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}