body {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #fff;
    border-radius: 10px;
    padding: 20px;
    background-color: #333;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.game-title {
    font-size: 32px;
    margin-bottom: 20px;
}

canvas {
    border: 2px solid #fff;
    background-color: #fff;
    margin-bottom: 20px;
}

#score-container, #highscore-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.score-label, .highscore-label {
    font-size: 24px;
    margin-right: 10px;
}

.score-value, .highscore-value {
    font-size: 24px;
    font-weight: bold;
}

#author-credits {
    text-align: center;
}

#author-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Adicionado para separar do jogo */
}

.author-box {
    display: flex;
    align-items: center;
    justify-content: center; /* Centralizar horizontalmente */
    margin-bottom: 10px;
    background-color: #f2f2f2; /* Cinza claro */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.author-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.author-name {
    font-size: 16px;
    color: #000; /* Texto em preto para se destacar */
}

.score-value {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px; /* Adicione um espaçamento de 5 pixels */
}
